name: Build Portable EXE

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Build with PyInstaller
      run: |
        pyinstaller --noconsole --onefile --name "Shift Automator Pro" --icon=icon.ico main.py
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: Shift-Automator-Pro
        path: dist/Shift Automator Pro.exe
